#footer {
  position: absolute;
  width: 80%;
  height: 15%;
  left: 10%;
  bottom: 0px;

  background: #343434;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  background: #d9d9d9;
  mix-blend-mode: multiply;
  */
}

.light #footer,
.full-bars-light #footer,
.full-border-light #footer {
  background: #b4b4b4;
}

.no-bars-dark #footer,
.no-bars-light #footer {
  background: none;
}

.full-bars-dark #footer,
.full-bars-light #footer {
  width: 100%;
  left: 0%;
}

#socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
